/* Media query for smaller screens */
@media (max-width: 768px) {
  .image-text-container {
    flex-direction: column;
    align-items: center;
  }

  .imgcont {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .text-item {
    padding: 20px;
    text-align: center;
  }
}

body {
  height: 100%;
  color: #faf9f6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(72, 121, 134, 1) 73%,
    rgba(57, 141, 160, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1px 3%;
  z-index: 100;
  backdrop-filter: blur(5px);
  color: #faf9f6;
}

.logo {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #faf9f6;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 10px;
}

.navlinks a {
  transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
  color: #00a8a9;
}

.backgroundimg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/trendyoffice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-container {
  display: flex;
    margin: 10px auto;
    background-color: transparent;
    height: 80vh;
    width: 75%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 0;
    border-bottom: none;
    padding: 20px;
  }


#contact-form {
  width: 50%;
  padding: 20px;
  border-radius: 8px;
}

#contact-form h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #faf9f6
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
outline: 2px solid #00a8a9;
}

textarea {
  height: 100px;
  resize: none;
}

.subbtn {
  text-align: center;
  margin-top: 10px;
}

.subbtn button {
    background-color: #00a8a9;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    font: 1.4rem;
    color: #faf9f6;
  }


.subbtn button:hover {
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: rgb(255, 255, 255);
    color: #00a8a9;
  }

.aside-contact-detail {
  text-align: center;
  align-content: center;
  width: 35%;
  padding: 20px;
  border-radius: 8px;
  margin-left: 20px;
}

.aside-contact-detail h2 {
  color: #faf9f6;
  line-height: 45px;
}

.aside-contact-detail p {
  margin: 10px 0;
  font-size: 1.2rem;
  line-height: 40px;
}

.footer-container {
  background-color: rgb(39, 39, 39);
  padding: 1rem 0 1rem 0;
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  height: 40vh;
  color: #faf9f6;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.dooter-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #faf9f6;
}

.footer-heading a:hover {
  color: #00a8a9;
  transition: 0.3 ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: #b1b1b1;
}

#footer-email-btn {
  background-color: #00a8a9;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  font: 1rem;
  color: #faf9f6;
}

#footer-email-btn:hover {
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: rgb(255, 255, 255);
  color: #00a8a9;
}
